<hr>
Hi ,<br><br>
Reply to this email with the tasks done today and tasks planned for tomorrow before 12 AM IST. <br>
<br>
Clearly state any delays, issues, problems or risks associated with your tasks.<br>
<br>
Status template:<br>
----------------<br>
Tasks done today:<br>
 * <br>
 *<br>
 <br>
Tasks planned for tomorrow:<br>
 * <br>
 *<br>
<br>
<br><br>
Thanks,<br>
Daily Status Tracker
<hr>
